.testimonialContainer{

  margin: 2rem 0;
  h2{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }

  h3,p{
    text-align: start;
  }

  .cardsContainer{
    margin: 6rem 0;
  }
}